extends layout

block layout-content
  div.View.UserView
    h1.Banner Hi, #{userProfile.nickname}!
    div.Message
      div.Title
        h2 Let's get to work:
        ul
            each t in taskList
              if(!t.done)
                div.Task
                    h4
                        li= t.body  
                    if t.description
                        p
                            em= ' - ' + t.description
                    if t.dueDate
                        p= ' - ' + 'Due: ' + t.dueDate
                    form(action="/done" enctype="multipart/form-data" name="doneForm" method="post")
                      input(type="hidden" name="taskId" value=t._id id="taskId")
                      input(type="submit" name="doneTask" value="mark done")

    div.NewTask
        form(action="/newTask" enctype="multipart/form-data" name="taskForm" method="post")
            input(type="text" name="body" required="true" placeholder="Enter new task here")
            input(type="text" name="description" placeholder="Description")
            input(type="text" name="tags" placeholder="Add tags, separated by comma")
            input(type="date" name="dueDate")
            input(type="submit" name="submit" value="Add")


    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
