extends layout


block layout-content
  head
    if theme == "dark"
      link(rel="stylesheet" href="/styleDark.css")
    else
      link(rel="stylesheet" href="/styleLight.css")
  div.View.UserView
    div.Message
      h1 Hi, #{userProfile.nickname}!
      h3 Let's get to work:
      div.showButtons
        nav.displayMenu
          ul.showMenu Show
            li 
              div#showAll
                form(action="/showAll" name="showAll" method="get")
                  input(name="showAll" type="submit" value=show == "all" ? "All ✓" : "All" )
            li 
              div#showCompleted
                form(action="/showCompleted" name="showCompleted" method="get")
                    input(name="showCompleted" type="submit" value=show == "completed" ? "Completed ✓" : "Completed" )
            li 
              div#showUncompleted
                form(action="/showUncompleted" name="showUncompleted" method="get")
                  input(name="showUncompleted" type="submit" value=show == "uncompleted" ? "Incomplete ✓" : "Incomplete")
          ul.showMenu View
            li 
              div#viewMinimal
                form(action="/viewMinimal" name="viewMinimal" method="get")
                  input(name="viewMinimal" type="submit" value=view == "minimal" ? "Minimal ✓" : "Minimal")
            li
              div#viewRegular
                form(action="/viewRegular" name="viewRegular" method="get")
                  input(name="viewRegular" type="submit" value=view == "regular" ? "Regular ✓" : "Regular")
            li
              div#viewFull
                form(action="/viewFull" name="viewFull" method="get")
                  input(name="viewFull" type="submit" value=view == "full" ? "Full ✓" : "Full")
          ul.showMenu(id="tagList") Tags
            form(id="sortByTag" action="/tagSort" enctype="multipart/form-data" name="doneTask" method="post")
              input(id="tagFilter" type="submit" name="submit" value="filter")
              each tag in tagList
                div#tagOption
                  input(type="checkbox" value=tag id="tagName" name="tagNames")
                  label(for=tag id="tagLabel") #{tag}
          ul.showMenu(id="sortBy") Sort By
            li
              div#sortByDueDate
                form(action="/sortByDueDate" name="sortByDueDate" method="get")
                  input(name="sortByDueDate" type="submit"  value=sort ? sort == "dueDate" ? "Due Date ✓" : "Due Date" : "Due Date")
            li
              div#sortByDateCompleted
                form(action="/sortByDateCompleted" name="sortByDateCompleted" method="get")
                  input(name="sortByDateCompleted" type="submit" value=sort ? sort == "dateCompleted" ? "Date Completed ✓" : "Date Completed" : "Date Completed")
            li
              div#sortByDateCreated
                form(action="/sortByDateCreated" name="sortByDateCreated" method="get")
                  input(name="sortByDateCreated" type="submit" value=sort ? sort == "dateCreated" ? "Date Created ✓" : "Date Created" : "Date Created")


          div.logOut
            form(title="switch theme" id="changeTheme" action="/changeTheme" name="changeTheme" method="get")
              if theme == "light"
                label(class="fas fa-cloud-moon" for="changeThemeButton")
              else
                label(class="fas fa-sun" for="changeThemeButton")
              input(name="changeTheme" title="change theme" id="changeThemeButton" type="submit" value="")
            form(title="switch order" id="orderToggle" action="/orderToggle" name="orderToggle" method="get")
              input(name="orderToggle" id="orderToggleButton" type="submit" value=display == "descending" ? "Order ↓" : "Order ↑")

            a(href="/logout")
              div.logOutButton Log Out
 
    div.Tasks
      - 
        if(display === "ascending")
          var listArr = taskList.reverse()
        else
          var listArr = taskList
      
      each task in listArr
        if(task.show)
          div.Task
            div.taskBody
              div.taskItem.taskActions
                form(title="delete task" id="deleteTask" action="/deleteTask" enctype="multipart/form-data" name="deleteTask" method="post")
                  input(id="taskId" name="taskId" type="hidden" value=task._id)
                  label(class="far fa-trash-alt" for=task._id + "delete")
                  input(id=task._id + "delete" type="submit" title="delete task" name="submit" value="")

                form(title="duplicate task" id="duplicateTask" action="/duplicateTask" enctype="multipart/form-data" name="duplicateTask" method="post")
                  input(id="taskId" name="taskId" type="hidden" value=task._id)
                  label(class="fas fa-sync" for=task._id + "duplicate")
                  input(id=task._id + "duplicate" type="submit" title="duplicate task" name="submit" value="")

                form(title="edit task" id="showEditForm" action="/showEditForm" enctype="multipart/form-data" name="showEditForm" method="post")
                  input(type="hidden" name="taskId" id="taskId" value=task._id)
                  label(class="far fa-edit" for=task._id + "edit")
                  input(id=task._id + "edit" type="submit" title="edit task" name="submit" value="")

                form(title="complete task" id="markDone" action="/done" enctype="multipart/form-data" name="doneTask" method="post")
                  input(type="hidden" id="taskId" name="taskId" value=task._id)
                  if task.done
                    label(class="far fa-check-square" for=task._id)
                  else 
                    label(class="far fa-square" for=task._id)
                  input(id=task._id type="submit" title="doneTask" name="doneTask" formaction="/done" formmethod="post" value="")
              div.taskItem
                if task.done
                  s= task.body
                else
                  strong= task.body
              div.taskEdit
                if(task.edit)
                 form(id="editTask" action="/editTask" enctype="multipart/form-data" name="editTask" method="post")
                    input(type="text" name="body" required="true" value=task.body placeholder=task.body)
                    input(type="text" name="description" value=task.description placeholder=task.description)
                    input(type="text" name="tags" value=task.tags.toString())
                    input(type="date" name="dueDate" value=task.dueDate)
                    input(type="hidden" name="taskId" id="taskId" value=task._id)
                    input(type="submit" name="submit" value="✓")
            if(view !== "minimal")
              if(task.description)
                  div.taskItem
                    div= task.description 
            if(view !== "minimal" && view !== "regular")
              div.taskInfo
                if(task.tags.length > 0)
                  div.taskItem
                    div#tags
                      em= task.tags
                if(task.dueDate)
                  div.taskItem
                    div.taskDate
                      em= task.dueDate
    div.NewTask
      form(id="taskForm" action="/newTask" enctype="multipart/form-data" name="taskForm" method="post")
        input(type="text" name="body" required="true" placeholder="Enter new task here")
        input(type="text" name="description" placeholder="Description")
        input(type="text" name="tags" placeholder="Add tags, separated by comma")
        input(type="date" name="dueDate")
        input(type="submit" name="submit" value="Add")
