extends layout

block layout-content
  div.View.UserView
    h1.Banner Hi, #{userProfile.nickname}!
    h3 Let's get to work:
    div.showButtons
      form(id="showAll" action="/showAll" name="showAll" method="get")
        input(name="showAll" id="showAll" type="submit" value="show all")
      form(id="showCompleted" action="/showCompleted" name="showCompleted" method="get")
        input(name="showCompleted" id="showCompleted" type="submit" value="show done")
      form(id="showUncompleted" action="/showUncompleted" name="showUncompleted" method="get")
        input(name="showUncompleted" id="showUncompleted" type="submit" value="show undone")
    div#tagList
      form(id="sortByTag" action="/tagSort" enctype="multipart/form-data" name="doneTask" method="post")
        each tag in tagList
          input(type="checkbox" value=tag id="tagName" name="tagNames")
          label(for=tag id="tagLabel") #{tag}
        input(type="submit" name="submit" value="filter")
    div.Message
      div.Tasks
        each task in taskList
          if(task.show)
            div.Task
              div.taskBody
                div.taskItem
                  form(id="deleteTask" action="/deleteTask" enctype="multipart/form-data" name="deleteTask" method="post")
                    input(id="taskId" name="taskId" type="hidden" value=task._id)
                    input(type="submit" name="submit" value="✗")
                  form(id="showEditForm" action="/showEditForm" enctype="multipart/form-data" name="showEditForm" method="post")
                    input(type="hidden" name="taskId" id="taskId" value=task._id)
                    input(type="submit" name="submit" value="✎")
                  
                  form(id="markDone" action="/done" enctype="multipart/form-data" name="doneTask" method="post")
                    input(type="hidden" id="taskId" name="taskId" value=task._id)
                    input(type="submit" name="doneTask" id=task._id formaction="/done" formmethod="post" value="☑")
                div.taskItem
                  strong= task.body
                if(task.description)
                  div.taskItem
                    div= task.description 
              div.taskEdit
                if(task.edit)
                  form(id="editTask" action="/editTask" enctype="multipart/form-data" name="editTask" method="post")
                    input(type="text" name="body" required="true" value=task.body placeholder=task.body)
                    input(type="text" name="description" value=task.description placeholder=task.description)
                    input(type="text" name="tags" placeholder=task.tags)
                    input(type="date" name="dueDate" value=task.dueDate)
                    input(type="hidden" name="taskId" id="taskId" value=task._id)
                    input(type="submit" name="submit" value="✓")

              div.taskInfo
                if(task.tags.length > 0)
                  div.taskItem
                    div#tags= task.tags
                if(task.dueDate)
                  div.taskItem
                    em= task.dueDate
    div.NewTask
      form(id="taskForm" action="/newTask" enctype="multipart/form-data" name="taskForm" method="post")
        input(type="text" name="body" required="true" placeholder="Enter new task here")
        input(type="text" name="description" placeholder="Description")
        input(type="text" name="tags" placeholder="Add tags, separated by comma")
        input(type="date" name="dueDate")
        input(type="submit" name="submit" value="Add")


    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
