extends layout

block layout-content
  div.View.UserView
    h1.Banner Hi, #{userProfile.nickname}!
    div.Message
      div.Title
        h2 Let's get to work:
        ul
            each t in mockTaskList
                div.Task
                    h4
                        li= t.task  
                    if t.description
                        p
                            em= ' - ' + t.description
                    if t.dueDate
                        p= ' - ' + 'Due: ' + t.dueDate
      pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
